<span class="snipcart-summary">
    <a href="#" class="snipcart-checkout">
        Checkout
        <i class="fa fa-shopping-cart">
            <span class="snipcart-total-items"></span>
        </i>
    </a>
</span>

