{% extends 'partials/snipcart_base.html.twig' %}

{% block content %}

    {{ parent() }}

    <div class="content-wrapper">
        {{ page.content|raw }}

        <div class="snipcart-products block-group">
            {% for child in page.collection() %}
                {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                    {% if(child.header.interval) is not defined %}
                        {% include 'partials/snipcart_product_item.html.twig' with {'page': child, 'parent': page} %}
                    {% else %}
                        {% include 'partials/snipcart_subscription_item_small.html.twig' with {'page': child, 'parent': page} %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


